{% ckan_extends %}

{% block package_search_results_api_inner %}
<div class="notice">
  {% if not g.user %}
    <small >
      To see PFR private datasets you must be logged into DataHub. Use your PFR email address and password.
    </small><br/>
  {% else %}
    <small >
      The search result shows only datasets that are visible to you. <br/>Datasets that are private or restricted to a group you are not a member of will not be shown.
    </small><br/>
  {% endif %}
  
  {{ super() }}
  </div>  
{% endblock %}
