/* PFR Theme 
*/
.account-masthead {
  background-color: #7ABC64;;
}
.account-masthead .account ul li a {
  color: white;
}

body {
  background-color: #829995;
}

.site-footer,
.masthead {
  background-color: #3E5D58;
}
.header-image {
  margin: 5px 0;
}

.homepage .module-search .module-content {
  background-color: #3E5D58;
}

.homepage .module-search .tags {
  background-color: rgb(22, 31, 5);
}

.btn-primary,
.btn-primary:active,
.btn-primary.active,
.btn-primary.active:hover,
.btn-primary:active:hover
{
  background-color: #829995;
  padding: 10px 15px;
  border: none;
  margin-right: 2em;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  filter: brightness(120%);
  background-color: #829995;
}

.btn-primary:active:focus {
  filter: brightness(60%);
  background-color: #829995;
}

.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li a:focus,
.masthead .navigation .nav-pills li.active a {
  background-color: #829995;
}

/* Hide invite member form and OR */
form.dataset-form.add-member-form div.row > div.col-md-5:last-of-type .control-medium input,
.add-member-or-wrap
{
  display:none; 
}
form.dataset-form.add-member-form div.row > div.col-md-5:last-of-type .control-medium p 
{
  color:white;
}
form.dataset-form.add-member-form div.row > div.col-md-5:last-of-type .control-medium p::before {
  content: "Please ask PFR users to first login to DataHub so that they can be added to the group.";
  color: #333;

}
