{% ckan_extends %}



{% block home_image_caption %}
  {{ _("It is a capital mistake to theorize before one has data. Insensibly one begins to twist facts to suit theories, instead of theories to suit facts.
  <br />Arthur Conan Doyle (1891) A Scandal in Bohemia") }}
{% endblock %}

{# Replace the promoted image. #}
{% block home_image_content %}
  <a class="media-image" href="#">
    <img class="img-responsive" src="/promoted-image.jpg" alt="Featured image"
         width="420" height="auto" />
  </a>
{% endblock %}
