{% ckan_extends %}

{% block heading_private %}
  {% if package.private %}
    <span class="dataset-private badge bg-secondary">
        <i class="fa fa-lock"></i>
        {{ _('Private') }}
    </span>
  {% else %}
  <span class="dataset-public badge bg-secondary">
    <i class="fa fa-unlock"></i>
    {{ _('Public') }}
</span>
  {% endif %}
{% endblock %}